@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;600;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%; // root 16px * 0.625 == 10px
}

body {
    /* text-align: center; */
  font-size: 3rem;
}

h1 {
    flex-grow: 1;
  font-size: 7rem;
  margin: 3rem 0;
  /* color: red; */
}

.header{
    display: flex;
}
img{
    height: 90px;
}
.container {
  margin: auto;
  height: auto;
  width: 80vw;
  padding: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  border-radius: 10px;

  /* align-items: center; */

}
.dark{
    background-color: #1e1f25;
    color: white;
}
.light{
    background-color: wheat;
    color: 1e1f25;
    border: 2px solid black;
    border-radius: 10px;
}

.text-red {
  color: red;
}

.text-blue {
  color: blue;
}

li {
  margin-block: 10px;
  font-size: 3rem;
}
.noteBox {
  margin-bottom: 65px;
  display: inline-block;
  height: 64px;
  /* outline: 4px dashed red; */
  width: 100%;
}
.taskList {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  /* outline: 4px dashed dodgerblue; */
}
.form-control {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}
button{
    font-size: 4rem;
    padding: 20px;
}

input[type=checkbox].toggle-switch {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 6em;
    height: 3em;
    border-radius: 3em;
    background-color: #ddd;
    outline: 0;
    cursor: pointer;
    transition: background-color 0.09s ease-in-out;
    position: relative;
}

input[type=checkbox] {
    background-color:red;
    padding:20px;
}

input[type=checkbox]:after {
    content: '';
    width: 3em;
    height: 3em;
    background-color: white;
    border-radius: 3em;
    position: absolute;
    transform: scale(0.7);
    left: 0;
    transition: left 0.09s ease-in-out;
    box-shadow: 0 0.1em rgba(0, 0, 0, 0.5);
}

input[type=checkbox].toggle-switch:checked::after {
    left: 3em;
}