* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // root 16px * 0.625 == 10px
}

body {
    font-size: 4rem;
    padding-inline: 50px;
}

h1 {
    flex-basis: 100%;
    font-size: 4rem;
    text-align: center;
    margin: 3rem 0;
    /* color: red; */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    height: 100vh;
}

.text-red {
    color: red;
}

.text-blue {
    color: blue;
}
.postList{
    padding: 20px;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.post{
    flex-grow: 1 0;
    max-width: 1000px;
    min-width: 535px;
    flex-basis: 100%;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    box-shadow: 8px 4px 4px grey;
    border: 0.5px solid grey;
    display: flex;
    gap: 20px;
    /* flex-direction: column; */
    background-color: rgb(255, 255, 255);
}
.left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.left > p {
    font-size: 2rem;
}
.right {
    text-align: right;
}
.right > p {
    font-size: 1.5rem;
}
.post:active{
    position: relative;
    top: 4px;
    left:4px
}
img{
    width: 150px;
    border-radius: 10px;
    box-shadow: 5px 4px 4px grey;
}


@media only screen and (max-width: 870px) {
    body {
      background-color: lightblue;
    }
    .post{
        flex-direction: column;
    }
  }
